ollama
requests
python_dotenv 
ipykernel
fastapi[standard]
pydantic
langchain-core
langchain-community
langchain_ollama
langchain-openai
sqlite-vec
langchain_chroma
python-dotenv
pyppeteer
pypdf
uuid
python_dotenv
typer
rich
click
youtube-transcript-api
ollama
requests
lxml
beautifulsoup4
