pandas
chonkie[all]
autotiktokenizer
ollama
pypdf
requests
python_dotenv 
ipykernel
fastapi[standard]
pydantic
langchain-core
langchain-community
langchain_ollama
sqlite-vec
python-dotenv
pyppeteer
uuid
python_dotenv
typer
rich
click
youtube-transcript-api
requests
lxml
beautifulsoup4
spacy
